body{
	background-color:black ;
	
}

h1{
	color:  #FFFF00;
	
}

h4{
	color:#8A2BE2 ;
	
}

span{
	color: #7FFF00;
	padding-left:80px;
	padding-right:80px;
}

img{
	height: 200px;
	width: 250px;
	border-color: #FF0000;
	border-style: double;
}

